# python

# byte-compiled / optimized / DLL files
**/__pycache__/
__pycache__/
backend/__pycache__/*

# environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# misc
**/.DS_Store
.idea

# database
app.db

# photos
photos