@import '../../css/variables.css';

.button {
  padding: 13px 49px;
  background-color: transparent;
  border: none;
  font-size: 1.25em;
  text-transform: capitalize;
}

.border {
  border: 2px solid var(--black);
}