@import '../../scss/variables.scss';

.footer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: flex-end;
    padding: 1.5rem 0;
    column-gap: 40px;

    &__logo-container {}

    &__organization {
        span {
            color: $color-grey;
        }
    }
}