@import '../../scss/variables.scss';

.header {

    margin: 0 auto;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

    width: 100%;
    max-width: 1440px;

    max-height: $headerHeight;
    height: $headerHeight;

    padding: 0 2rem;


    &__logo-container {
        a {
            display: inline-grid;

            img {
                height: 50px;
            }
        }
    }
}